<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hypothesizer</title>
    <base href="/hypothesizer/_design/hypothesizer/_rewrite/" />
    <link rel="stylesheet" href="semantic-ui/semantic.min.css" />
  </head>
  <body>
    <div class="ui fixed main menu">
      <div class="container">
        <div class="title item">
          <a href="/hypothesizer/_design/hypothesizer/_rewrite/"><b>Hypothesizer!</b></a>
        </div>
        <a class="icon calendar item" href="calendar/">
          Calendar
        </a>
        <a class="icon calendar item" href="tags/">
          Tags
        </a>
        <a class="icon calendar item" href="users/">
          Users
        </a>
        <search-suggest></search-suggest>
      </div>
    </div>

    <article class="ui one column page grid">
      <div class="column"></div>
      <section class="column">
        <section class="ui statistics">
          <div class="statistic" v-if="total_public">
            <div class="value">{{total_public}}</div>
            <div class="label">Total Public</div>
          </div>
          <div class="statistic" v-if="users">
            <div class="value">{{total_public_users}}</div>
            <div class="label">Total Users</div>
          </div>
          <div class="statistic" v-if="uris">
            <div class="value">{{total_public_uris}}</div>
            <div class="label">Total URIs</div>
          </div>
          <div class="statistic" v-if="total_public_tags">
            <div class="value">{{total_public_tags}}</div>
            <div class="label">Total Tags</div>
          </div>
        </section>
      </section>
    </article>

    <article class="ui two column page grid">
      <section class="column">
        <table class="ui striped table">
          <tr v-repeat="users | orderBy 'value' -1 | limit 100">
            <td><a href="users/{{key[0]}}">{{key[0]}}</a></td>
            <td class="right aligned">{{value}}</td>
          </tr>
        </table>
      </section>
      <section class="column">
        <table class="ui striped table">
          <tr v-repeat="uris | orderBy 'value' -1 | limit 100">
            <td><a href="{{key}}" target="_blank">{{key | truncate 50}}</a></td>
            <td class="right aligned">{{value}}</td>
          </tr>
        </table>
      </section>
    </article>

    <script src="scripts/bundle.js"></script>
  </body>
</html>
