<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hypothesizer</title>
    <link rel="stylesheet" href="semantic-ui/semantic.min.css" />
  </head>
  <body>
    <div class="ui fixed main menu">
      <div class="container">
        <div class="title item">
          <a href="/"><b>Hypothesizer!</b></a>
        </div>
        <a class="icon calendar item" href="calendar/">
          Calendar
        </a>
        <a class="icon calendar item" href="tags/">
          Tags
        </a>
        <a class="icon calendar item" href="users/">
          Users
        </a>
        <search-suggest view="hypothesizer/by_user" placeholder="Enter a user id..." basehref="users/"></search-suggest>
        <a class="icon calendar item" href="uris/">
          URIs
        </a>
        <search-suggest view="hypothesizer/by_uri" placeholder="Enter URI..." basehref="uris/"></search-suggest>
      </div>
    </div>
