<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hypothesizer</title>
    <base href="/hypothesizer/_design/hypothesizer/_rewrite/" />
  </head>
  <body>
    <div class="ui fixed main menu">
      <div class="container">
        <div class="title item">
          <a href="/hypothesizer/_design/hypothesizer/_rewrite/"><b>Hypothesizer!</b></a>
        </div>
        <a class="icon calendar item" href="calendar/">
          Calendar
        </a>
        <a class="icon calendar item" href="tags/">
          Tags
        </a>
        <a class="icon calendar item" href="users/">
          Users
        </a>
        <search-suggest></search-suggest>
      </div>
    </div>
